<%- include('partials/header', { title: `Datos de ${formName}` }) %>

<h1>Datos Recogidos para <%= formName %></h1>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>#</th>
            <% if (data.length > 0) { %>
                <% Object.keys(data[0]).forEach(key => { %>
                    <th><%= key %></th>
                <% }) %>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <% data.forEach((entry, index) => { %>
            <tr>
                <td><%= index + 1 %></td>
                <% Object.values(entry).forEach(value => { %>
                    <td><%= value %></td>
                <% }) %>
            </tr>
        <% }) %>
    </tbody>
</table>

<%- include('partials/footer') %>
